/* Estilos gerais */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #fbfbfb;
  text-align: center;
  margin:1px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 28px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h2 {
  
  color: #2b2929;
  font-size: 24px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h3 {
  color: #272525;
  font-size: 20px;
  margin-top: 15px;
}

p {
  color: #777;
  font-size: 16px;
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  position: relative;
}

section > *:not(h2) {
  visibility: hidden;
  display: none;
  text-align: left;
 
}

section h2 {
 
  visibility: visible;
  background-color: rgb(13, 62, 62);
  color:#d4d7d9;
  font-size: 120%;
  border: 2px solid black;

}

section h2:hover{
 
  visibility: visible;
  background-color: rgb(18, 86, 86);
  color:#ccd0d5;
  font-size: 121%;
  border: 2px solid rgba(0, 0, 0, 0.348);
}


code {
  background-color: #f8f9fa;
  color: #333;
  font-family: Consolas, monospace;
  padding: 2px 4px;
  width:auto;
  white-space: pre-wrap;
}

pre {
  margin: 0;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ccc;
}
